<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Unscaled</string>
		<key>screenSize</key>
		<string>{1, 1}</string>
		<key>deviceSize</key>
		<string>{1, 1}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>0.91&quot; 32 x 128</string>
		<key>screenSize</key>
		<string>{5.58, 22.38}</string>
		<key>deviceSize</key>
		<string>{32, 128}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>0.96&quot; 80 x 160 </string>
		<key>screenSize</key>
		<string>{10.8, 21.696}</string>
		<key>deviceSize</key>
		<string>{80, 160}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>0.96&quot; 64 x 128</string>
		<key>screenSize</key>
		<string>{10.864, 21.744}</string>
		<key>deviceSize</key>
		<string>{64, 128}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1.2&quot; 64 x 128</string>
		<key>screenSize</key>
		<string>{13.57, 27.16}</string>
		<key>deviceSize</key>
		<string>{64, 128}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1.3&quot; 64 x 128</string>
		<key>screenSize</key>
		<string>{14.7, 29.42}</string>
		<key>deviceSize</key>
		<string>{64, 128}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1.3&quot; 240 x 240</string>
		<key>screenSize</key>
		<string>{23.4, 23.4}</string>
		<key>deviceSize</key>
		<string>{240, 240}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>1.8&quot; 128 x 160 AKA 1.77&quot;</string>
		<key>screenSize</key>
		<string>{28.03, 35.04}</string>
		<key>deviceSize</key>
		<string>{128, 160}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2.0&quot; 240 x 320</string>
		<key>screenSize</key>
		<string>{30.6, 40.37}</string>
		<key>deviceSize</key>
		<string>{240, 320}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2.2&quot; 240 x 320</string>
		<key>screenSize</key>
		<string>{33.84, 45.12}</string>
		<key>deviceSize</key>
		<string>{240, 320}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2.4&quot; 240 x 320</string>
		<key>screenSize</key>
		<string>{36.72, 48.96}</string>
		<key>deviceSize</key>
		<string>{240, 320}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2.7&quot; 240 x 960</string>
		<key>screenSize</key>
		<string>{33.06, 58.8}</string>
		<key>deviceSize</key>
		<string>{240, 960}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2.8&quot; 240 x 320</string>
		<key>screenSize</key>
		<string>{43.2, 57.6}</string>
		<key>deviceSize</key>
		<string>{240, 320}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3.2&quot; 240 x 320</string>
		<key>screenSize</key>
		<string>{48.6, 64.8}</string>
		<key>deviceSize</key>
		<string>{240, 320}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3.5&quot; 320 x 480</string>
		<key>screenSize</key>
		<string>{48.96, 73.44}</string>
		<key>deviceSize</key>
		<string>{320, 480}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4&quot; 320 x 480</string>
		<key>screenSize</key>
		<string>{55.68, 83.52}</string>
		<key>deviceSize</key>
		<string>{320, 480}</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nokia 5110</string>
		<key>screenSize</key>
		<string>{19, 29}</string>
		<key>deviceSize</key>
		<string>{48, 84}</string>
	</dict>
</array>
</plist>
